.planet {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background-image: url("/images/suradachk.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.2),
    0px 0px 0px 20px rgba(202, 202, 202, 0.2),
    0px 0px 0px 40px rgba(153, 152, 149, 0.1),
    0px 0px 0px 60px rgba(7, 7, 7, 0.05);
  animation: imageAnimate 5s linear infinite;
}

.face {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 40%;
}

.zzz1,
.zzz2,
.zzz3 {
  color: white;
  position: absolute;
  top: 0;
  left: 20%;
  font-size: 36px;
  opacity: 0;
  font-family: "Shadows Into Light", cursive;
  animation-name: zzz-sleep;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.zzz1:after,
.zzz2:after,
.zzz3:after {
  content: "z";
}

.zzz1 {
  animation-delay: 0s;
}

.zzz2 {
  animation-delay: 1.2s;
  right: 15%;
  top: 3%;
}

.zzz3 {
  animation-delay: 2.4s;
  right: 10%;
  top: 6%;
}

.day .mouth:after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  display: block;
  top: -3px;
  left: -6px;
  background-color: #151843;
  border-radius: 50%;
}

.day .mouth:before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  display: block;
  top: -3px;
  left: 15px;
  background-color: #151843;
  border-radius: 50%;
}

.day .eye {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin-right: 10px;
  animation-name: eye-blink;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  position: relative;
  overflow: hidden;
}

.eye {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin-right: 8px;
  position: relative;
}

.day .eye-in {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #151843;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  transform: scale(1, 1) !important;
  border: none;
}

.eye-in {
  width: 15px;
  height: 8px;
  display: block;
  position: absolute;
  top: 5px;
  left: -1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 5px solid #151843;
  border-top: 0;
}

.pos-star1 {
  top: 50px;
  left: 50px;
}

.pos-star2 {
  top: 250px;
  left: 450px;
}

.pos-star3 {
  top: 240px;
  left: 5px;
}

.star {
  width: 20px;
  height: 20px;
  background-color: white;
  display: block;
  border-radius: 50%;
  float: left;
  position: absolute;
  transform-origin: 50% 50%;
  animation-name: star3;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transform-origin: 50% 50%;
  transition: all 0.3s ease-out;
}

.star:before {
  width: 20px;
  height: 20px;
  content: "";
  background-color: white;
  position: absolute;
  transform: scale(1, 2) rotate(45deg);
  animation-name: star1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  border-radius: 20%;
  transition: all 0.3s ease-out;
}

.star:after {
  width: 20px;
  height: 20px;
  content: "";
  background-color: white;
  position: absolute;
  transform: scale(2, 1) rotate(45deg);
  animation-name: star2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  border-radius: 20%;
  transition: all 0.3s ease-out;
}

@keyframes imageAnimate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes star1 {
  0% {
    transform: scale(1, 2) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(1, 2) rotate(45deg);
  }
}

@keyframes star2 {
  0% {
    transform: scale(2, 1) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(2, 1) rotate(45deg);
  }
}

@keyframes star3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes eye-blink {
  0% {
    transform: scale(1, 1);
  }
  2% {
    transform: scale(1, 0);
  }
  4% {
    transform: scale(1, 1);
  }
}

@keyframes mouth-sleep {
  0% {
    transform: scale(1, 1);
  }
  35% {
    transform: scale(0.7, 0.7);
  }
  40% {
    transform: scale(0.7, 0.7);
  }
  75% {
    transform: scale(1, 1);
  }
}

@keyframes wiggle {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(50px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes zzz-sleep {
  0% {
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 0;
  }
  25% {
    transform: translate(-5px, -10px) scale(1.1, 1.1);
  }
  50% {
    transform: translate(8px, -20px) scale(0.9, 0.9);
    opacity: 1;
  }
  75% {
    transform: translate(-15px, -30px) scale(1.1, 1.1);
  }
  100% {
    transform: translate(15px, -40px) scale(0.9, 0.9);
    opacity: 0;
  }
}

@keyframes zzz-awake {
  0% {
    transform: translate(0px, 0px) scale(1, 1) rotate(0deg);
  }

  100% {
    transform: translate(-15px, -30px) scale(2, 2) rotate(10deg);
    opacity: 0;
  }
}

/* DAY TIME */

.day .planet {
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.2),
    0px 0px 0px 20px rgba(202, 202, 202, 0.2),
    0px 0px 0px 40px rgba(153, 152, 149, 0.1),
    0px 0px 0px 60px rgba(7, 7, 7, 0.05);
}

.day .star:after,
.day .star:before {
  animation-name: none;
  transform: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.day .star:after {
  left: 150%;
  box-shadow: -50px -25px 0px 10px white, -10px -25px 0px -5px white,
    inset -7px 0px 0px 3px #ebf3fe;
}

.day .star:before {
  left: 50%;
  top: 0;
  border-radius: 0;
  width: 75px;
}

.day .star {
  width: 50px;
  height: 50px;
  animation-name: wiggle;
  animation-duration: 10s;
}

.day .zzz1:after,
.day .zzz2:after,
.day .zzz3:after {
  content: "!";
}
