.menu {
  cursor: pointer;
  position: relative;
}

.menu:after {
  display: block;
  content: "";
  border-bottom: solid 3px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.menu:hover:after {
  transform: scaleX(1);
}

.menu.active:after {
  transform: scaleX(1);
}
